.reveal pre code {
  border-radius: 10px;
}

.reveal .slides section img.bullet-image,
.reveal .slides section img.bullet {
  float: left;
  border: none;
  background: none;
  width: 25%;
  position: relative;
  left: 2%;
  box-shadow: none;
	border-radius: 10px;
}

.reveal .slides section > ul,
.reveal .slides section > ol {
  margin-top: 3%;
}

.reveal .slides section > ul > p > a,
.reveal .slides section > ol > p > a {
  font-size: 41px;
  font-weight: bold;
  color: rgba(40, 98, 237, 1);
  position: relative;
  top: 15px;
  right: 30px;
}

.reveal .slides section > ul > li {
  font-weight: bold;
	margin-top: 5px;
}
.reveal .slides section > ul > ul > li {
  font-style: italic;
  font-size: 27px;
  position: relative;
}

.reveal .slides section > ul {
	list-style-type: none;
	font-weight: normal;
}

.reveal .slides section > ul ul,
.reveal .slides section > ol ul {
	list-style-type: disc;
	font-weight: normal;
}

.avatars {
  text-align: center;
}
.reveal section .avatars img {
  margin: 0 28px;
  width: 25%;
  border-radius: 10px;
}
.avatars span {
  margin: 0 20px;
  text-align: center;
  width: 28%;
  display: inline-block;
}
#hot-tip {
  position: relative;
}
#hot-tip img {
  border: none;
  box-shadow: none;
  position: absolute;
}
#hot-tip img.left {
  left: 0;
}
#hot-tip img.right {
  right: 0;
}
